body {
    background-color: black;
    text-align: center;
    color: red;
}

h1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: italic;
    margin: 100px 0 0 0;
    transform: rotate(30deg);
}